<div class="sign-up-form">
<h2 class="text-center">Edit Profile</h2>

<%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <%= f.label :first_name, "First Name:" %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name, "Last Name:" %>
    <%= f.text_field :last_name %>

    <%= f.label :aga_number, "AGA Number:" %>
    <%= f.text_field :aga_number %>

    <%= f.label :email, "Email:" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <%= f.label :password, "Password:" %>
    <%= f.password_field :password, autocomplete: "off" %>

    <p>*6 characters minimum. Leave blank if you don't want to change it.</p>

    <%= f.label :password_confirmation, "Password Confirmation:" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>

    <%= f.label :current_password, "Current Password:" %> <p>(Current password to confirm changes)</p>
    <%= f.password_field :current_password, autocomplete: "off" %>

    <%= f.submit "Update", { class: 'button medium expanded' } %>
<% end %>

<label>To delete this account:</label>

<p><%= link_to "Delete my account", user_registration_path, method: :delete, data: { confirm: "Are you sure?" } %></p>

</div>
