<div class="container">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
  <%= devise_error_messages! %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :aga_number %>
    <%= f.text_field :aga_number %>

    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>


    <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    
    <%= f.password_field :password, autocomplete: "off" %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>

    <%= f.submit "Sign up" %>
  <% end %>


</div>
