<div class="grid-x grid-margin-x">
  <div class="cell medium-2"></div>
  <div class="cell medium-8">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
      <%= devise_error_messages! %>

    <div class="grid-x grid-margin-x medium-up-2 sign-up-form">
      <div class="cell">
        <%= f.label :first_name, "First Name:" %>
        <%= f.text_field :first_name %>
      </div>

      <div class="cell">
        <%= f.label :last_name, "Last Name:" %>
        <%= f.text_field :last_name %>
      </div>

      <div class="cell">
        <%= f.label :email, "Email:" %>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="cell">
        <%= f.label :aga_number, "AGA Number: (optional)" %>
        <%= f.text_field :aga_number %>
      </div>

      <div class="cell">
        <%= f.label :password, "Password:" %>
        <%= f.password_field :password, placeholder: '8 characters minimum', autocomplete: "off" %>
      </div>

      <div class="cell">
        <%= f.label :password_confirmation, "Password Confirmation:" %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>

      <%= f.submit "Sign up", {class: "button right"} %>
    <% end %>
  </div>
</div>
