<div class="grid-x grid-padding-x">
  <div class="cell medium-3 profile-section">
    <div class="profile-image">
      <%= image_tag @user.get_image %>
    </div>
    <h5><%= link_to @user.name, user_user_profile_path(@user_profile), {"data-reveal-ajax" => true, "data-open-in" => "modal-box1" } %></h5>
    <div class="user-menu">
      <p><%= link_to "Edit profile", edit_user_user_profile_path(@user_profile), {"data-reveal-ajax" => true, "data-open-in" => "modal-box2" } %></p>
      <p><%= link_to "Account settings", edit_user_registration_path %></p>
      <p><%= link_to "Create a tournament", new_tournament_path %></p>
    </div>
  </div>

  <div class="cell my-tournaments medium-9">
    <ul class="tabs" data-tabs id="user-tabs">
      <li class="tabs-title is-active"><a href="#panel-registered" aria-selected="true">Registered</a></li>
      <li class="tabs-title"><a data-tabs-target="panel-organizing" href="#panel2">Organizing</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="user-tabs">
      <%= render 'registered' %>
      <%= render 'organizing' %>
    </div>
  </div>
</div>
<%= render '/scripts/modal' %>
