
  <div class="container">
    <%= form_for @tournament, local: true do |form| %>

    <% if @tournament.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@tournament.errors.count, "error") %> prohibited
          this page from being saved:
        </h2>
        <ul>
          <% @tournament.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="forms">
      <div class="fieldset">
      
        Title: <%= form.text_field :title %>
       
      
        Start Date: <%= form.date_field :start_date %>
        End Date: <%= form.date_field :end_date %>
        
      <div class="field">
        Venue: <%= form.text_field :venue %>
      </div>
      <div class="field">
        City: <%= form.text_field :city %>
        State: <%= form.text_field :state, :placeholder => 'Ex. CA' %>   
        Country: <%= form.text_field :country %>
      </div>
      <div class="field">
        Description: <%= form.text_area :description %>
      </div>
      <div class="field">
        Image: <%= form.file_field :image %>
      </div>
    </div>

    <div class="fieldset">
      <div class="field">
        AGA Rated:  <%= form.check_box :is_rated %>
      </div>
      <div class="field">
        Game Rules: <%= form.text_area :game_rules %>
      </div>
      <div class="field">
        Time Setting: <%= form.text_field :time_setting %>
      </div>
    </div>

    <div class="fieldset">
      <div class="field">
        Registration Fee: <%= form.text_field :registration_fee %>
      </div>
      <div class="field">
        Check-in begins at:  <%= form.time_field :check_in_begins %>
      </div>
      <div class="field">
        First round begins at:  <%= form.time_field :first_round_begins %>
      </div>
    </div>

    <div class="fieldset">
      
      Organizer:  <%= form.text_field :organizer %>
      
      Contact info:  <%= form.text_field :contact %>
      
      <%= form.hidden_field :author_user_id, value: current_user.id %>
    </div>

    
    <%= form.submit 'Submit', { class: "button large" } %>
    

<% end %>
</div>
