<% presenter = TournamentPresenter.new(self, @tournament) %>

<div class="grid-x grid-padding-x">
  <%= presenter.top_section %>

  <div class="cell">
    <h4 class="subtitle">Tournament Details</h4>
      <div class="grid-x grid-padding-x large-up-2 medium-up-2">
        <div class="cell tournament-detail">
          <div class="grid-x grid-padding-x">

            <div class="cell large-1 medium-1">
              <p><%= fa_icon('list-alt', type: 'regular', class: 'fa-lg') %></p>
              <p><%= fa_icon('hourglass-half', class: 'fa-lg') %></p>
              <p><%= fa_icon("chart-line", class: 'fa-lg') %></p>
              <p><%= fa_icon("dollar-sign", class: 'fa-lg') %></p>
            </div>

            <div class="cell large-5 medium-5">
              <p>Game rules:</p>
              <p>Rating:</p>
              <p>Time limit:</p>
              <p>Registration fee:</p>
            </div>

            <div class="cell large-6 medium-6">
              <p><%= @tournament.game_rules %></p>
                  <% if @tournament.is_rated? %>
                    <p> AGA Rated </p>
                  <% else %>
                    <p> Not Rated</p>
                  <% end %>
              <p><%= @tournament.time_setting.blank? ? 'Unspecified' : @tournament.time_setting %></p>
              <p><%= @tournament.registration_fee %></p>
            </div>
          </div>
        </div>

        <div class="cell tournament-detail">
          <div class="grid-x grid-padding-x">

            <div class="cell large-1 medium-1">
              <p><%= fa_icon("clock", type: 'regular', class: 'fa-lg') %></p>
              <p><%= fa_icon("clock", type: 'regular', class: 'fa-lg') %></p>
              <p><%= fa_icon("people-carry", class: 'fa-lg') %></p>
              <p><%= fa_icon("comment-dots", type: 'regular', class: 'fa-lg') %></p>
            </div>

            <div class="cell large-5 medium-5">
              <p> Check-in begins: </p>
              <p> First round begins: </p>
              <p> Organizer: </p>
              <p> Contact info: </p>
            </div>

            <div class="cell large-6 medium-6">
              <% if @tournament.check_in_begins.blank? %>
                <p><%= 'Unspecified'%></p>
              <% else %>
                <p><%= @tournament.check_in_begins.time.strftime("%I:%M %p") %></p>
              <% end %>
              <% if @tournament.first_round_begins.blank? %>
                <p><%= 'Unspecified'%></p>
              <% else %>
                <p><%= @tournament.first_round_begins.time.strftime("%I:%M %p") %></p>
              <% end %>
              <p><%= @tournament.organizer.blank? ? 'Unspecified' : @tournament.organizer %></p>
              <p><%= @tournament.contact.blank? ? 'Unspecified' : @tournament.contact %></p>
            </div>
          </div>
        </div>

        <div class="cell">
          <div class="field">
            <%= form_for @tournament_registration do |form| %>

              <%= form.hidden_field :tournament_id, value: @tournament.id %>
    
              <% if current_user %>
                <%= form.hidden_field :user_id, value: current_user.id %>
                <% if @tournament_registrations.exists?(user_id: current_user.id, tournament_id: @tournament.id) %>
                  <%= form.submit "Registered", { class: "button medium", disabled: true }%>
                <% elsif !current_user.aga_number and @tournament.is_rated %>
                  <%= form.submit "AGA number is required to register", { class: "button medium", disabled: true }%>
                <% else %>
                  <%= form.submit 'Register', { class: "button medium" } %>
                <% end %>
              <% else %>
                <%= form.submit "Log in is required to register", { class: "button medium", disabled: true }%>
              <% end %>
            <% end %>
          </div>
        </div>

    </div>
  </div>
</div>
