<% presenter = TournamentPresenter.new(self, @tournament, current_user) %>
<% rules = @tournament.game_rules %>
<% rating = @tournament.is_rated? ? 'AGA rated' : 'Not rated' %>
<% time_limit = @tournament.time_setting.blank? ? 'Unspecified' : @tournament.time_setting %>
<% fee = @tournament.registration_fee.blank? ? 'Unspecified' : @tournament.registration_fee %>
<% contact = @tournament.contact.blank? ? 'Unspecified' : @tournament.contact %>

<div class="grid-x grid-padding-x">
  <%= presenter.top_section %>

  <div class="cell">
    <h4 class="subtitle">Tournament Details</h4>
      <div class="grid-x grid-padding-x">
        <div class="cell tournament-detail medium-6">
          <%= make_tournament_detail_item(icon('list-alt', 'regular', 'fa-lg'), "Game rules:", rules)%>
          <%= make_tournament_detail_item(icon('hourglass-half', nil, 'fa-lg'), "Rating:", rating)%>
          <%= make_tournament_detail_item(icon('chart-line', nil, 'fa-lg'), "Time limit:", time_limit)%>
          <%= make_tournament_detail_item(icon('dollar-sign', nil, 'fa-lg'), "Registration fee:", fee)%>
        </div>

        <div class="cell tournament-detail medium-6">
          <%= make_tournament_detail_item(icon('clock', 'regular', 'fa-lg'), "Check-in begins at:", @tournament.check_in_at) %>
          <%= make_tournament_detail_item(icon('clock', 'regular', 'fa-lg'), "Round 1 begins at:", @tournament.first_round_at)%>
          <%= make_tournament_detail_item(icon('people-carry', nil, 'fa-lg'), "Organizers:", @tournament.organizers)%>
          <%= make_tournament_detail_item(icon('comment-dots', 'regular', 'fa-lg'), "Contact info:", contact)%>
        </div>

        <div class="cell registration-button">
          <% if current_user.present? %>
            <%= form_for @tournament_registration do |f| %>
              <%= f.hidden_field :tournament_id, value: @tournament.id %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <% if @registration.present? %>
                <%= link_to "Unregister", tournament_registration_path(@registration.id),
                            { class: 'button warning', method: :delete, data: {confirm: "Are you sure?"} } %>
              <% elsif current_user.aga_number.blank? && @tournament.is_rated %>
                <%= link_to "AGA number is required to register", nil,
                            { class: 'button', disabled: true } %>
              <% else %>
                <%= f.submit "Register", { class: 'button' } %>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to "Log-in is required to register", nil,
                        { class: "button", disabled: true } %>
          <% end %>
        </div>

        <% if current_user.is_admin? %>
          <div class="cell tournament-actions">
            <h4 class="subtitle">Manage Tournament</h4>
            <%= link_to "View registrations", tournament_registration_path(@tournament.id),
                        { class: "button hollow small" } %>
            <%= link_to "Edit tournament info", edit_tournament_path(@tournament.id),
                        { class: "button hollow small" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
