<%= form_with model: @tournament, local: true do |form| %>
  <p>
    <h2><%= form.label :main %><br></h2>
    <h2><%= form.text_field :title %><br></h2>
    <%= form.date_field :start_date %>
    <%= form.date_field :end_date %><br>
    <%= form.text_field :venue %><br>
    <%= form.text_field :city %>
    <%= form.text_field :state %><br>
    <%= form.text_field :country %><br>
    <%= form.file_field :image %><br>
  </p>

  <p>
    <h2><%= form.label :rules %><br><h2>
    <%= form.check_box :is_rated %><br>
    <%= form.text_area :game_rules %><br>
    <%= form.text_field :time_setting %><br>
  </p>

  <p>
    <h2><%= form.label :logistics %><br></h2>
    <%= form.text_field :registration_fee %><br>
    <%= form.time_field :check_in_begins %><br>
    <%= form.time_field :first_round_begins %><br>
  </p>

  <p>
    <h2><%= form.label :organizer %><br></h2>
    <%= form.text_field :organizer %><br>
    <%= form.text_field :contact %><br>
    <%= form.password_field :password_digest %><br>

  <p>
    <h3><%= form.submit %></h3>
  </p>

<% end %>
