<!DOCTYPE html>
<html>
<head>
<title>Go Tournaments</title>

<link rel="stylesheet" href="app/assets/stylesheets/tournament.scss" type="text/css" />
</head>

<body>
  <h1>I am tournament index!</h1>
<div class="container">
  <div class="port">
    <div class="img-row">
      <a href="#">
      <div class="img-port">
        <% @tournaments.each do |tournament| %>
        <%= image_tag tournament.image %>
        <h3><%= tournament.title %></h3>
        <p class="date"><%= tournament.start_date %></p>
        <p class="location"><%= tournament.city %> + "," + <%= tournament.state %></p>
      </div>
      </a>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>
