<!DOCTYPE html>
<html>
<head>
<title>Go Tournaments</title>

<link rel="stylesheet" href="app/assets/stylesheets/tournament.scss" type="text/css" />
</head>

<body>

  <div class="container">
    <%= @tournaments.each do |tournament| %>
      <div class="col-sm-6">
        <%= image_tag("alt.jpg", :class => "col-sm-4") %>
        <h4><%= link_to(tournament.title, :controller => 'tournament', :action => 'show', :id => tournament.id) %></h4>
        <p><%= tournament.start_date %></p>
        <p><%= tournament.city %>, <%= tournament.state %></p>
      </div>
    <% end %>
  </div>
</body>
</html>
