

  <div class="container-fluid">
    <% @tournaments.each do |tournament| %>
      <div class="col-sm-4">
        <div class="fieldset-light">
        <% if tournament.image == nil %>
          <%= image_tag("alt.jpg", :class => "img-responsive") %>
        <% else %>
          <%= tournament.image %>
        <% end %>
        <div class="field-sm">
        <h5><%= link_to(tournament.title, :controller => 'tournament', :action => 'show', :id => tournament.id) %></h5>
      </div>
      <div class="field-sm">
        <% if tournament.start_date == tournament.end_date %>
          <p><%= tournament.start_date %></p>
        <% else %>
          <p><%= tournament.start_date %> ~ <%= tournament.end_date %></p>
        <% end %>
      </div>
      <div class="field-sm">
        <p><%= tournament.city %>, <%= tournament.state %></p>
      </div>
      </div>
    </div>
    <% end %>


  </div>
