<div class="container">
  <h3>Registrations for: <%= @tournament.title %></h3>
  <p>Total registrations: <%= @tournament_registrations.count %> players</p>

  <% if @tournament_registrations.present? %>
    <table id="tournament_list" class="unstriped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Registered Date</th>
          <th>Rating</th>
          <th>Club</th>
        </tr>
      </thead>

      <% @tournament_registrations.each do |r| %>
        <% @user_profile = r.user.user_profile %>
        <tr>
          <td><%= make_modal_link(r.user.name, user_user_profile_path(@user_profile)) %></td>
          <td><%= r.registered_date %></td>
          <td><%= r.user.rating %></td>
          <td><%= r.user.club %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <%= "There are no registered players." %>
  <% end %>
</div>
<%= render '/scripts/modal' %>
